extends layout

block content
  h1 K8s client
  p Welcome to K8s client
  
  p Enter username and password to create a new name space
  input(id='username', placeholder='username') 
  br
  input(id='password', placeholder='password') 
  br
  button(id='createNewNamespace') createNewNamespace

    //- a(href="/about") about
